<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>letterimages - Demo Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
        crossorigin="anonymous"></script>
    <script type="application/javascript" src="letterimages.min.js"></script>

    <style>
        img.profile {
            width: 48px;
            height: 48px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="page-header">
            <h1>letterimages - Bootstrap Demo Page</h1>
        </div>

        <div class="row">
        <div class="col-md-6">

        <h2>Rounded</h2>

        <% names.forEach((name) => { %>
        <div class="media">
            <div class="media-left">
                <img class="media-object img-rounded profile" data-name="<%= name %>">
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= name %></h4>
                <span class="text-muted"><% print(name.toLowerCase().split(' ').join('.')); %>@example.com</span>
            </div>
        </div>
        <% }); %>

        </div>
        <div class="col-md-6">

        <h2>Circle</h2>

        <% names.forEach((name) => { %>
        <div class="media">
            <div class="media-left">
                <img class="media-object img-circle profile" data-name="<%= name %>">
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= name %></h4>
                <span class="text-muted"><% print(name.toLowerCase().split(' ').join('.')); %>@example.com</span>
            </div>
        </div>
        <% }); %>

        </div>
        </div>

        <hr />

        <h2>Example Code</h2>
        <pre>
&lt;div class="media"&gt;
    &lt;div class="media-left"&gt;
        &lt;img class="media-object img-circle profile" <strong><span class="bg-success">data-name="John Doe"</span></strong>&gt;
    &lt;/div&gt;
    &lt;div class="media-body"&gt;
        &lt;h4 class="media-heading"&gt;John Doe&lt;/h4&gt;
        &lt;span class="text-muted"&gt;john.doe@example.com&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>

    </div>

    <script type="application/javascript">
        (function() {
            $('.profile').letterimages();
        }());
    </script>

</body>

</html>