; (function (root, factory) {
    /* global define */
    if (typeof define === 'function' && define.amd) {
        define(['jquery'], factory);
    } else if (typeof module === 'object' && module.exports) {
        module.exports = factory(require('jquery'));
    } else {
        /* global jQuery */
        factory(jQuery);
    }
} ((typeof window !== 'undefined') ? window : this, function ($) {

    'use strict';

    // The default color themes. Inspired by OxygenOS's contact app.
    var themes = [
        ['<%= colors["teal"]["700"]       %>', '<%= colors["teal"]["500"]       %>', '<%= colors["green"]["200"]     %>', '<%= colors["teal"]["800"]       %>'],  // Teal
        ['<%= colors["blue"]["800"]       %>', '<%= colors["blue"]["600"]       %>', '<%= colors["lightBlue"]["200"] %>', '<%= colors["blue"]["900"]       %>'],  // Blue
        ['<%= colors["deepPurple"]["500"] %>', '<%= colors["deepPurple"]["300"] %>', '<%= colors["purple"]["200"]    %>', '<%= colors["deepPurple"]["600"] %>'],  // Purple
        ['<%= colors["orange"]["800"]     %>', '<%= colors["orange"]["400"]     %>', '<%= colors["yellow"]["200"]    %>', '<%= colors["yellow"]["600"]     %>'],  // Orange
        ['<%= colors["blueGrey"]["400"]   %>', '<%= colors["blueGrey"]["200"]   %>', '<%= colors["blue"]["50"]       %>', '<%= colors["blueGrey"]["500"]   %>']   // Grey
    ];

    var glyphs = {
        /* jscs:disable */
        /* jshint ignore:start */

        <% Object.keys(svgs).forEach((k) => { %><%= k %>: '<%= svgs[k] %>',
        <% }); %>
        /* jshint ignore:end */
        /* jscs:enable */
    };

    function LetterImages(options) {
        this.options = $.extend({
            themes: themes,
            themeResolver: resolveTheme,
            glyphResolver: resolveGlyph
        }, options);
    }

    LetterImages.prototype.imageSource = function (element) {
        element = $(element);
        var config = $.extend({ name: '?' }, element.data());
        var svg = $(resolveGlyph(config.name, glyphs));
        var style = $('<style>').text(resolveTheme(config.name, this.options.themes)
            .map(function (val, i) { return '.color' + (i + 1) + ' {fill: ' + val + ';}'; })
            .join('\n'));
        svg.append(style);
        var data = svg.wrap('<p>').parent().html();
        element.attr('src', 'data:image/svg+xml;base64,' + btoa(data));
    }

    function resolveGlyph(name, glyphs) {
        var k = name.slice(0, 1).toLowerCase();
        return (k in glyphs) ? glyphs[k] : glyphs.default;
    }

    function resolveTheme(name, themes) {
        var hash = 5381;
        for (var i = 0; i < name.length; ++i) {
            hash = ((hash << 5) + hash) + name.charCodeAt(i);
        }
        return themes[Math.abs(hash) % themes.length];
    }

    $.fn.letterimages = function (options) {
        var l = new LetterImages(options);
        this.each(function () { l.imageSource(this); });
    };

    return LetterImages;
}));
