<html>

<head>
    <link href="dist/letterimages.css" rel="stylesheet">
    <style>
        #preview { width: 600px; }
    </style>
</head>

<body>
    <div id="preview">
        <% names.forEach((name) => { %>
        <i class="letterimages letterimages-rounded" data-name="<%= name %>"></i>
        <% }); %>
    </div>
</body>

</html>