/*
 * Letter Images - Generated Profile Images
 * https://github.com/danieljoos/letterimages
 */

<%
const themes = {
    teal:   [colors["teal"]["700"]      , colors["teal"]["500"]      , colors["green"]["200"]    ],
    blue:   [colors["blue"]["800"]      , colors["blue"]["600"]      , colors["lightBlue"]["200"]],
    purple: [colors["deepPurple"]["500"], colors["deepPurple"]["300"], colors["purple"]["200"]   ],
    orange: [colors["orange"]["800"]    , colors["orange"]["400"]    , colors["yellow"]["200"]   ],
    grey:   [colors["blueGrey"]["400"]  , colors["blueGrey"]["200"]  , colors["blue"]["50"]      ]
};
%>
@font-face {
    font-family: 'letterimages';
    src: url('letterimages.woff');
    src: url('letterimages.woff') format('woff'),
         url('letterimages.svg') format('svg'); 
}

.letterimages {
    font: normal normal normal 48px 'letterimages';
    text-decoration: none;
    text-transform: none;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.letterimages:before, .letterimages:after {
    position: absolute;
    top: 0; left: 0;
}

.letterimages-rounded {
    border-radius: 6px;
}

.letterimages-circle {
    border-radius: 50%;
}

<% [32, 48, 64, 96, 128].forEach((r) => { %>
.letterimages-<%= r %> {
    width: <%= r %>px;
    height: <%= r %>px;
    line-height: <%= r %>px;
    font-size: <%= r %>px;
}
<% }); %>

<%
var themesIndices = Object.keys(themes);
Object.keys(glyphs).forEach((k) => { 
    var theme = themes[themesIndices[0]]; themesIndices.push(themesIndices.shift());
%>
.letterimages[data-name^="<%= k.toLowerCase() %>"], .letterimages[data-name^="<%= k.toUpperCase() %>"] {
    background-color: <%= theme[0] %>;
}

.letterimages[data-name^="<%= k.toLowerCase() %>"]:before, .letterimages[data-name^="<%= k.toUpperCase() %>"]:before {
    content: '\<%= glyphs[k].unicodes[0].charCodeAt(0).toString(16) %>';
    color: <%= theme[1] %>;
}

.letterimages[data-name^="<%= k.toLowerCase() %>"]:after, .letterimages[data-name^="<%= k.toUpperCase() %>"]:after {
    content: '\<%= glyphs[k].unicodes[1].charCodeAt(0).toString(16) %>';
    color: <%= theme[2] %>;
}
<% }); %>

<%
Object.keys(themes).forEach((k) => {
    var theme = themes[k];
%>
.letterimages.letterimages-<%= k %> {
    background-color: <%= theme[0] %>;
}

.letterimages.letterimages-<%= k %>:before {
    color: <%= theme[1] %>;
}

.letterimages.letterimages-<%= k %>:after {
    color: <%= theme[2] %>;
}
<% }); %>
